<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.wonders.xlab.xcontacts">

    <application
        android:label="@string/cb_app_name"
        android:supportsRtl="true">
        <activity android:name=".XContactsActivity">
        </activity>
    </application>

</manifest>