<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.wonders.xlab.cardbag"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.CAMERA"/>

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true"/>
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>


    <application
        android:label="@string/cb_app_name"
        android:supportsRtl="true">

        <activity
            android:name=".ui.home.HomeActivity"
            android:theme="@style/CBAppTheme.NoActionBar"/>
        <activity
            android:name=".ui.cardmy.CardMyActivity"
            android:theme="@style/CBAppTheme.NoActionBar"/>
        <activity
            android:name=".ui.cardedit.CardEditActivity"
            android:theme="@style/CBAppTheme.NoActionBar"/>
        <activity
            android:name=".ui.cardsearch.CardSearchActivity"
            android:theme="@style/CBAppTheme.NoActionBar"/>
        <activity
            android:name="com.yalantis.ucrop.UCropActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"/>
    </application>

</manifest>