<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.wonders.xlab.cardbag">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:label="@string/app_name"
        android:supportsRtl="true">
        <activity
            android:name=".ui.home.HomeActivity"
            android:theme="@style/CBAppTheme.NoActionBar"/>
        <activity
            android:name=".ui.cardmy.CardMyActivity"
            android:theme="@style/CBAppTheme.NoActionBar"/>
        <activity android:name=".ui.cardedit.CardEditActivity">
        </activity>
        <activity android:name=".ui.cardsearch.CardSearchActivity">
        </activity>
    </application>

</manifest>